#listContainer {
    overflow: hidden;
    margin-top: 34px;
    width: 100%;
}

#subjectTxt {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
}

#moreTxt {
    font-size: 12px;
    font-weight: lighter;
    margin-left: 4px;
}

#postContainer {
    width: calc(100%-16px);
    height: 270px;
    padding: 4px;
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
}